.u-section-1 .u-sheet-1 {
  min-height: 112px;
}

.u-section-1 .u-text-1 {
  margin: 60px 48px 0;
}.u-section-2 .u-sheet-1 {
  min-height: 748px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 668px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 12px 0 0;
}

.u-section-2 .u-table-1 {
  width: 310px;
  margin: 16px auto 0;
}

.u-block-3b82-15 {
  background-image: none;
}

.u-section-2 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-btn-5 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 668px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  margin-bottom: 0;
  padding: 8px 33px;
}

.u-section-2 .u-table-2 {
  width: 310px;
  margin: 27px auto -81px;
}

.u-block-3b82-65 {
  background-image: none;
}

.u-section-2 .u-btn-7 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-btn-10 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-btn-11 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 551px;
  }

  .u-section-2 .u-table-1 {
    height: 482px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 551px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-table-1 {
    width: 300px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-table-2 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 578px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 940px;
}

.u-section-3 .u-text-1 {
  margin: 1px 389px 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 776px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-block-a32a-120 {
  background-image: none;
}

.u-section-3 .u-table-cell-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-3 .u-table-cell-2 {
  background-image: none;
  font-weight: 700;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 776px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-table-2 {
  width: 814px;
  margin: 0 0 -5px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-19 {
  background-image: none;
}

.u-section-3 .u-table-cell-20 {
  background-image: none;
}

.u-section-3 .u-table-cell-21 {
  background-image: none;
}

.u-section-3 .u-table-cell-22 {
  background-image: none;
}

.u-section-3 .u-table-cell-23 {
  background-image: none;
}

.u-section-3 .u-table-cell-24 {
  background-image: none;
}

.u-section-3 .u-table-cell-25 {
  background-image: none;
}

.u-section-3 .u-table-cell-31 {
  background-image: none;
}

.u-section-3 .u-table-cell-37 {
  background-image: none;
}

.u-section-3 .u-table-cell-43 {
  background-image: none;
}

.u-section-3 .u-table-cell-49 {
  background-image: none;
}

.u-section-3 .u-table-cell-55 {
  background-image: none;
}

.u-section-3 .u-table-cell-61 {
  background-image: none;
}

.u-section-3 .u-table-cell-67 {
  background-image: none;
}

.u-section-3 .u-table-cell-73 {
  background-image: none;
}

.u-section-3 .u-table-cell-79 {
  background-image: none;
}

.u-section-3 .u-table-cell-85 {
  background-image: none;
}

.u-section-3 .u-table-cell-91 {
  background-image: none;
}

.u-section-3 .u-table-cell-97 {
  background-image: none;
}

.u-section-3 .u-table-cell-103 {
  background-image: none;
}

.u-block-a32a-104 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 289px;
    margin-right: 289px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 640px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 640px;
  }

  .u-section-3 .u-table-2 {
    width: 661px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 179px;
    margin-right: 179px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 490px;
  }

  .u-section-3 .u-table-2 {
    width: 492px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 89px;
    margin-right: 89px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 479px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 302px;
  }

  .u-section-3 .u-table-2 {
    width: 320px;
  }
}
